/* Estilo para as barras de avaliação */
.rating {
  margin-bottom: 20px;
}

.rating label {
  font-size: 1.25rem;
  margin-bottom: 5px;
  display: block;
}

.rating input {
  width: 100%;
  margin: 10px 0;
}

.rating span {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Estilo para o botão */
.btn {
  position: relative;
  top: 20px; /* Coloca o botão mais abaixo */
  min-width: 100px;  /* Reduz a largura */
  padding: 0.5rem 1rem; /* Diminui o tamanho do botão */
  font-size: 1rem; /* Diminui o tamanho da fonte */
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px; /* Espaço acima do botão */
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Adiciona um alinhamento central ao botão */
.btn-next {
  display: block;
  margin: 0 auto;
}
