/* Estilo para o corpo da página */
body {
  padding: 2rem;
  width: 100%; /* A largura da página não vai ultrapassar 100% da tela */
  max-width: 1200px; /* Limita a largura máxima a 1200px */
  margin: 0 auto; /* Centraliza o conteúdo na tela */
  min-height: 100vh; /* Garante que a página ocupe toda a altura da tela */
  background-image: linear-gradient(to right bottom, #cffafe, #22d3ee);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o conteúdo verticalmente */
  overflow-x: hidden; /* Evita a rolagem horizontal */
}

/* Estilo para as barras de avaliação */
.rating {
  margin-bottom: 20px;
}

.rating label {
  font-size: 1.25rem;
  margin-bottom: 5px;
  display: block;
}

.rating input {
  width: 100%; /* A largura da barra de avaliação ocupa 100% da largura disponível */
  margin: 10px 0;
}

.rating span {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Estilo para o botão */
.btn {
  position: relative;
  top: 20px;
  min-width: 100px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Centraliza o botão e garante que ele fique no final da página */
.btn-next {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
