* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #cffafe, #22d3ee);
  display: flex;
  flex-direction: column;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.container p {
  font-size: 18px; /* Ajusta o tamanho do texto */
  text-align: center; /* Centraliza */
  margin-bottom: 20px; /* Adiciona espaço abaixo do texto */
  color: #000; /* Garante que o texto não está com cor branca invisível */
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1,
.image-2 {
  display: block;
  margin: 20px auto;
}

.image-1 {
  width: 175px;
}

.image-2 {
  width: 250px;
}

.btn {
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}

/* Estilos para o novo texto e avaliação */
.description {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.rating {
  margin-top: 1rem;
  text-align: center;
}

#rating {
  width: 80%;
}

#rating-value {
  font-weight: bold;
  margin-left: 10px;
}

.rating input[type="range"] {
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
  height: 10px; /* Aumentando a espessura da barra */
  border-radius: 5px; /* Deixa as bordas arredondadas */
  appearance: none; /* Remove o estilo padrão do navegador */
  background: #e2e8f0; /* Cor da barra */
  outline: none;
  cursor: pointer;
}

/* Estilizando a "bolinha" que arrasta */
.rating input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px; /* Tamanho da bolinha */
  height: 20px;
  background: #22d3ee; /* Cor da bolinha */
  border-radius: 50%;
  cursor: pointer;
}

.rating input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #22d3ee;
  border-radius: 50%;
  cursor: pointer;
}

.gif {
  display: block;
  margin: 20px auto; /* Centraliza e adiciona espaço */
  max-width: 100%; /* Para evitar que fique maior que a tela */
  width: 200px; /* Ajuste o tamanho conforme necessário */
}

